/* Table Of Content */
/*
1.Section Settings
2.page-title
3.Timeline
4.beforeFooter
5.footer


*/


/* 1.Section Settings */

html,
body{
    height: 100%;
}



.bg-alpha {
    background: rgba(0, 0, 0, 0.5)
}




/*1.page-title*/
.page-title{
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1448518184296-a22facb4446f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

/* 2.Timeline*/
.timeline{
    list-style: none;
    position: relative;
    padding: 20px 0;
}

.timeline > li{
    position: relative;
    margin-bottom: 20px;
}

.timeline::before{
    position: absolute;
    content: " ";
    width: 2px;
    background: #e6e6e6; 
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    margin-bottom: 44px;
}

li > .timeline-badge{
    position: relative;
    width: 18px;
    height: 18px;
    border: 3px solid #84ba3f;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    top: 15px;
}

li > .timeline-badge::before{
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    width: 25px;
    height: 3px;
    background: #e6e6e6;
}

li > .timeline-badge p{
    width: 200px;
    margin-top: -8px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}

li > .timeline-badge p{
    width: 200px;
    margin-top: -8px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}



li > .timeline-card{
    position: relative;
    width: 46%;
    float: left;
    text-align: right;
    padding: 0 10px;
    margin-top: -20px;
}

.timeline > li::after{
    content: "";
    clear: both;
    display: block;
}

.row{
    margin: 0px;
}



@media (max-width: 1000px){
    .timeline::before,
    .timeline-badge{
        left: 40px !important;
    }

    .timeline-badge::before{
            right: -32px !important;
    }

    .timeline-badge p{
        margin-left: 50px !important;
        text-align: left;
        float: left;
    }

    li > .timeline-card{
        width: 100%;
        text-align: left;
        padding: 37px 0 0 85px;
    } 


}

/*3.beforeFooter*/
.beforeFooter{
    position: relative;
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    color: #fff;
    background-image: url(https://images.unsplash.com/photo-1448518184296-a22facb4446f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
}

/*4.Footer*/
.semi-footer{
    background-color: #2b2b2b;
    color: #fff;
    
}

.semi-footer a{
    color: #fff;
}

.semi-footer h4{
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.A{
    margin: -8px;
}