/* Table Of Content */
/*
1.Section Settings
2.Section Carousel
3.section another
4.Blog
5.Footer
6.Bottom to top
*/


/* 1.Section Settings */

html,
body{
    height: 100%;
}



.bg-alpha {
    background: rgba(0, 0, 0, 0.5)
}

/*2.Section Carousel */
.carousel,
.carousel-inner,
.carousel-item
.carousel-item .active {
    height: 100%;
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    top: 40%;
}

.backscreen {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* 3.section another */
.another-footer{
    padding: 25px;
}


/*4.blog*/
.warpper-card-img{
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

.warpper-card-img img{
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.warpper-card-img img:hover{
    transform: scale(1.2);
}

/*5.Footer*/
.A{
    margin: -8px;
}


.semi-footer{
    background-color: #2b2b2b;
    color: #fff;
    
}

.semi-footer a{
    color: #fff;
}

.semi-footer h4{
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}


/*6.Bottom to top*/
.bottom-tom{
    position: fixed;
    bottom: 10px;
    background: #000;
    width: 40px;
    height: 40px;
    color: #fff;
    z-index: 9999;
    border-radius: 50%;
    font-size: 25px;
    right: 2%;
    cursor: pointer;
    text-align: center;
}

.bottom-tom:hover{
    color: #fff;
    background: #66b9f1;
}




